.list-container {
  width: 500px;
  list-style: none;
  padding: 0;
  margin: 2px auto 0px auto;
  border: 1px solid #ccc;
  border-radius: 16px;
  max-height: 200px;
  overflow-y: auto;
}

.list-container li {
  padding: 8px 16px;
  cursor: pointer;
  text-align: left;
}

.list-container li:hover {
  background-color: #f2f2f2;
}
